{% extends "base.html" %}

{% block content %}
    <h1>Expenses:</h1>
    {% if expenses_list %}
    <table id="expenses">
        <tr>
            <th>Spender</th>
            <th>Desription</th>
            <th>Value</th>
            <th>Date</th>
        </tr>
        {% for expense in expenses_list %}
        <tr>
            <td>@{{ expense.spender }}</td>
            <td>{{ expense.description }}</td>
            <td>${{ expense.value }}</td>
            <td>{{ expense.spending_date|date }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No expenses registered.</p>
    {% endif %}
    <h4>Total expenses: {{ expenses_list.count }}</h4>
{% endblock %}
