{% extends "base.html" %}

{% block content %}
    <h1>{{ spender_name }} expenses:</h1>
    {% if expenses_list %}
        <ul>
        {% for expense in expenses_list %}
            <li>{{ expense.description }} - ${{ expense.value }} ({{ expense.spending_date|date }})</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No expenses registered.</p>
    {% endif %}
    <h4>Total expenses: {{ expenses_list.count }}</h4>
    <br>
    <a href="{% url 'expense_record:expenses-new' spender_id %}">Register expense</a>
{% endblock %}
